pug/index.pug
doctype html

html(charset="utf8")
  head
    link(rel="stylesheet", href="css/material.min.css")
    link(rel="stylesheet", href="css/dialog-polyfill.css")
    link(rel="stylesheet", href="css/icon.css")

    script(defer, src="js/material.min.js")
    script(src="js/dialog-polyfill.js")
    script(defer, src="js/anim.js")
    script(src="js/gui.js")
    script(src="js/location.js")

    title LocInterface

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title Loc-In, interface para API REST
          .mdl-layout-spacer
          nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link(href="#", data-open="search") Search
            a.mdl-navigation__link(href="#", data-open="register") Register
      .mdl-layout__drawer.mdl-layout--small-screen-only
        nav.mdl-navigation
          a.mdl-navigation__link(href="#", data-open="search") Search
          a.mdl-navigation__link(href="#", data-open="register") Register
      main.mdl-layout__content
        canvas#coolAnimation

    dialog.mdl-dialog#search
      h4.mdl-dialog__title Search people on the system
      .mdl-dialog__content
        form(action="#")
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="text")#searchfor
            label.mdl-textfield__label(for="searchfor") Name:
      .mdl-dialog__actions.mdl-dialog__actions--full-width
        button.mdl-button Go
        button.mdl-button.close Cancel

    dialog.mdl-dialog#register
      h4.mdl-dialog__title Register yourself to the system
      .mdl-dialog__content
        form(action="#")
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="text")#name
            label.mdl-textfield__label(for="name") Name:
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="email")#mail
            label.mdl-textfield__label(for="mail") E-mail:
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="text")#phone
            label.mdl-textfield__label(for="phone") Phone number:
      .mdl-dialog__actions.mdl-dialog__actions--full-width
        button.mdl-button Save
        button.mdl-button.close Cancel

    .mdl-js-snackbar.mdl-snackbar
      .mdl-snackbar__text
      button.mdl-snackbar__action

html/index.html
<!DOCTYPE html><html charset="utf8"><head><link rel="stylesheet" href="css/material.min.css"><link rel="stylesheet" href="css/dialog-polyfill.css"><link rel="stylesheet" href="css/icon.css"><script defer src="js/material.min.js"></script><script src="js/dialog-polyfill.js"></script><script defer src="js/anim.js"></script><script src="js/gui.js"></script><script src="js/location.js"></script><title>LocInterface</title><meta name="viewport" content="width=device-width, initial-scale=1.0"></head><body><div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><header class="mdl-layout__header"><div class="mdl-layout__header-row"><span class="mdl-layout-title">Loc-In, interface para API REST</span><div class="mdl-layout-spacer"></div><nav class="mdl-navigation mdl-layout--large-screen-only"><a class="mdl-navigation__link" href="#" data-open="search">Search</a><a class="mdl-navigation__link" href="#" data-open="register">Register</a></nav></div></header><div class="mdl-layout__drawer mdl-layout--small-screen-only"><nav class="mdl-navigation"><a class="mdl-navigation__link" href="#" data-open="search">Search</a><a class="mdl-navigation__link" href="#" data-open="register">Register</a></nav></div><main class="mdl-layout__content"><canvas id="coolAnimation"></canvas></main></div><dialog class="mdl-dialog" id="search"><h4 class="mdl-dialog__title">Search people on the system</h4><div class="mdl-dialog__content"><form action="#"><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"><input class="mdl-textfield__input" type="text" id="searchfor"><label class="mdl-textfield__label" for="searchfor">Name:</label></div></form></div><div class="mdl-dialog__actions mdl-dialog__actions--full-width"><button class="mdl-button">Go</button><button class="mdl-button close">Cancel</button></div></dialog><dialog class="mdl-dialog" id="register"><h4 class="mdl-dialog__title">Register yourself to the system</h4><div class="mdl-dialog__content"><form action="#"><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"><input class="mdl-textfield__input" type="text" id="name"><label class="mdl-textfield__label" for="name">Name:</label></div><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"><input class="mdl-textfield__input" type="email" id="mail"><label class="mdl-textfield__label" for="mail">E-mail:</label></div><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"><input class="mdl-textfield__input" type="text" id="phone"><label class="mdl-textfield__label" for="phone">Phone number:</label></div></form></div><div class="mdl-dialog__actions mdl-dialog__actions--full-width"><button class="mdl-button">Save</button><button class="mdl-button close">Cancel</button></div></dialog><div class="mdl-js-snackbar mdl-snackbar"><div class="mdl-snackbar__text"></div><button class="mdl-snackbar__action"></button></div></body></html>
